:root {
    --primary-color: #1c3d2d;
}

.full-width .ubermenu-nav,
.container,
.row {
    max-width: 1250px
}

.row.row-collapse {
    max-width: 1220px
}

.row.row-small {
    max-width: 1242.5px
}

.row.row-large {
    max-width: 1280px
}

body.framed,
body.framed header,
body.framed .header-wrapper,
body.boxed,
body.boxed header,
body.boxed .header-wrapper,
body.boxed .is-sticky-section {
    max-width: 1080px
}

.header-main {
    height: 100px
}

#logo img {
    max-height: 100px
}

#logo {
    width: 200px;
}

.header-bottom {
    min-height: 55px
}

.header-top {
    min-height: 30px
}

.transparent .header-main {
    height: 265px
}

.transparent #logo img {
    max-height: 265px
}

.has-transparent+.page-title:first-of-type,
.has-transparent+#main>.page-title,
.has-transparent+#main>div>.page-title,
.has-transparent+#main .page-header-wrapper:first-of-type .page-title {
    padding-top: 265px;
}

.header.show-on-scroll,
.stuck .header-main {
    height: 70px !important
}

.stuck #logo img {
    max-height: 70px !important
}

.header-bg-color {
    background-color: #ffffff
}

.header-bottom {
    background-color: #f1f1f1
}

.header-main .nav>li>a {
    line-height: 16px
}

.stuck .header-main .nav>li>a {
    line-height: 50px
}

@media (max-width: 549px) {
    .header-main {
        height: 70px
    }

    #logo img {
        max-height: 70px
    }
}

.nav-dropdown {
    font-size: 100%
}

/* Color */
.accordion-title.active,
.has-icon-bg .icon .icon-inner,
.logo a,
.primary.is-underline,
.primary.is-link,
.badge-outline .badge-inner,
.nav-outline>li.active>a,
.nav-outline>li.active>a,
.cart-icon strong,
[data-color='primary'],
.is-outline.primary {
    color: #1c3d2d;
}

/* Color !important */
[data-text-color="primary"] {
    color: #1c3d2d !important;
}

/* Background Color */
[data-text-bg="primary"] {
    background-color: #1c3d2d;
}

/* Background */
.scroll-to-bullets a,
.featured-title,
.label-new.menu-item>a:after,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
button[type="submit"],
.button.wc-forward:not(.checkout):not(.checkout-button),
.button.submit-button,
.button.primary:not(.is-outline),
.featured-table .title,
.is-outline:hover,
.has-icon:hover .icon-label,
.nav-dropdown-bold .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold>li>a:hover,
.nav-dropdown-bold.dark .nav-column li>a:hover,
.nav-dropdown.nav-dropdown-bold.dark>li>a:hover,
.header-vertical-menu__opener,
.is-outline:hover,
.tagcloud a:hover,
.grid-tools a,
input[type='submit']:not(.is-form),
.box-badge:hover .box-text,
input.button.alt,
.nav-box>li>a:hover,
.nav-box>li.active>a,
.nav-pills>li.active>a,
.current-dropdown .cart-icon strong,
.cart-icon:hover strong,
.nav-line-bottom>li>a:before,
.nav-line-grow>li>a:before,
.nav-line>li>a:before,
.banner,
.header-top,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover,
.button.primary:not(.is-outline),
input[type='submit'].primary,
input[type='submit'].primary,
input[type='reset'].button,
input[type='button'].primary,
.badge-inner {
    background-color: #1c3d2d;
}

/* Border */
.nav-vertical.nav-tabs>li.active>a,
.scroll-to-bullets a.active,
.nav-pagination>li>.current,
.nav-pagination>li>span:hover,
.nav-pagination>li>a:hover,
.has-hover:hover .badge-outline .badge-inner,
.accordion-title.active,
.featured-table,
.is-outline:hover,
.tagcloud a:hover,
blockquote,
.has-border,
.cart-icon strong:after,
.cart-icon strong,
.blockUI:before,
.processing:before,
.loading-spin,
.slider-nav-circle .flickity-prev-next-button:hover svg,
.slider-nav-circle .flickity-prev-next-button:hover .arrow,
.primary.is-outline:hover {
    border-color: #1c3d2d
}

.nav-tabs>li.active>a {
    border-top-color: #1c3d2d
}

.widget_shopping_cart_content .blockUI.blockOverlay:before {
    border-left-color: #1c3d2d
}

.woocommerce-checkout-review-order .blockUI.blockOverlay:before {
    border-left-color: #1c3d2d
}

/* Fill */
.slider .flickity-prev-next-button:hover svg,
.slider .flickity-prev-next-button:hover .arrow {
    fill: #1c3d2d;
}

/* Background Color */
[data-icon-label]:after,
.secondary.is-underline:hover,
.secondary.is-outline:hover,
.icon-label,
.button.secondary:not(.is-outline),
.button.alt:not(.is-outline),
.badge-inner.on-sale,
.button.checkout,
.single_add_to_cart_button,
.current .breadcrumb-step {
    background-color: #c68426;
}

[data-text-bg="secondary"] {
    background-color: #c68426;
}

/* Color */
.secondary.is-underline,
.secondary.is-link,
.secondary.is-outline,
.stars a.active,
.star-rating:before,
.woocommerce-page .star-rating:before,
.star-rating span:before,
.color-secondary {
    color: #c68426
}

/* Color !important */
[data-text-color="secondary"] {
    color: #c68426 !important;
}

/* Border */
.secondary.is-outline:hover {
    border-color: #c68426
}

body {
    font-size: 100%;
}

@media screen and (max-width: 549px) {
    body {
        font-size: 100%;
    }
}

body {
    font-family: "Roboto Condensed", sans-serif
}

body {
    font-weight: 0
}

body {
    color: rgba(0, 0, 0, 0.85)
}

.nav>li>a {
    font-family: "Roboto Condensed", sans-serif;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-family: "Roboto Condensed", sans-serif;
}

.nav>li>a {
    font-weight: 700;
}

.mobile-sidebar-levels-2 .nav>li>ul>li>a {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.off-canvas-center .nav-sidebar.nav-vertical>li>a {
    font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font,
.banner h1,
.banner h2 {
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
    color: #1c3d2d;
}

.alt-font {
    font-family: "Roboto Condensed", sans-serif;
}

.alt-font {
    font-weight: 0 !important;
}

.header:not(.transparent) .header-nav-main.nav>li>a {
    color: #34539b;
}

.header:not(.transparent) .header-nav-main.nav>li>a:hover,
.header:not(.transparent) .header-nav-main.nav>li.active>a,
.header:not(.transparent) .header-nav-main.nav>li.current>a,
.header:not(.transparent) .header-nav-main.nav>li>a.active,
.header:not(.transparent) .header-nav-main.nav>li>a.current {
    color: #dc2f37;
}

.header-nav-main.nav-line-bottom>li>a:before,
.header-nav-main.nav-line-grow>li>a:before,
.header-nav-main.nav-line>li>a:before,
.header-nav-main.nav-box>li>a:hover,
.header-nav-main.nav-box>li.active>a,
.header-nav-main.nav-pills>li>a:hover,
.header-nav-main.nav-pills>li.active>a {
    color: #FFF !important;
    background-color: #dc2f37;
}

a {
    color: #c68426;
}

a:hover {
    color: #ee9110;
}

.tagcloud a:hover {
    border-color: #ee9110;
    background-color: #ee9110;
}

.absolute-footer,
html {
    background-color: #023938
}

/* Custom CSS */
td {
    color: #000;
}

.wpcf7 form .wpcf7-response-output {
    margin-top: 0 !important;
}

.contact-pic {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    overflow: hidden;
    border: 5px solid #fff;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05)
}

.contant-no-area {
    width: 200px;
    text-align: center;
    position: fixed;
    z-index: 998;
    left: 25px;
    bottom: 20px;
}

.contact-name {
    background: #c48f1b;
    color: #fff;
    border-radius: 4px;
    width: auto;
    position: absolute;
    padding: 2px 15px;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px
}

.contact-number {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    -webkit-animation: float 2s linear infinite;
    animation: float 2s linear infinite
}

.contact-number h5 {
    font-size: 13px;
    color: #707070
}

.contact-number h6 {
    margin: 0;
    font-size: 17px;
    color: #000
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.section-gallery-video .content:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border: 2px solid #b7883d;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
}

.section-gallery-video .slider-style-focus .flickity-slider>*:not(.is-selected) {
    opacity: 1;
}

.fix-slider .flickity-prev-next-button,
.slider-home .flickity-prev-next-button {
    width: 100px;
    height: 100px;
}

.fix-slider .flickity-prev-next-button.previous {
    left: 22%;
}

.fix-slider .flickity-prev-next-button.next {
    right: 22%;
}

.flickity-prev-next-button,
.slider .flickity-prev-next-button:hover .arrow {
    color: #b7883d;
    fill: #b7883d;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    background-color: #fff;
}

.footer-1 .content h4 {
    font-size: 26px;
    background: linear-gradient(113.94deg, #f0e8c4 10.96%, #be8129 92.56%);
}

.footer-1 .content h3 {
    margin-bottom: 12px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}

.footer-1 .content .item {
    text-align: center;
}

.footer-1 .content p {
    color: #fff;
    text-align: center;
}

.footer-1 .content h4.txt-grad,
.footer-1 .title-block h2,
.title-block h2 {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.footer-1 .title-block h2,
.title-block h2 {
    background-image: url(/wp-content/uploads/2021/04/gradient_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-transform: uppercase;
}

.footer-1 .tag-line img.size-full.alignnone {
    margin-bottom: 10px;
}

.footer-form {
    max-width: 800px;
    margin: 0 auto;
}

.footer-form .col {
    padding: 10px;
}

.footer-form input[type='text'],
input[type='email'],
input[type='tel'] {
    margin-bottom: 0;
    border: 1px solid #b7883d;
    box-shadow: unset;
}

.footer-form input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus {
    border: 1px solid #fff;
}

.footer-form input[type='submit'],
.button-2 {
    border-radius: 30px;
    width: 290px;
    height: 50px;
}

.footer-form input[type='submit'],
.button-2 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: url(/wp-content/uploads/2020/03/bg_btn_discover.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #07414c;
    font-weight: 700;
    text-transform: uppercase;
    border: 0;
}

.footer-form input[type='submit']:hover,
.button-2:hover {
    box-shadow: unset;
    color: #fff;
}

.form-action input[type='tel']::-webkit-input-placeholder,
.form-action input[type='text']::-webkit-input-placeholder,
.form-action input[type='email']::-webkit-input-placeholder {
    /* Edge */
    color: #424242;
}

.form-action input[type='tel']:-ms-input-placeholder,
.form-action input[type='text']:-ms-input-placeholder,
.form-action input[type='email']:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #424242;
}

.form-action input[type='tel']::placeholder,
.form-action input[type='text']::placeholder,
.form-action input[type='email']::placeholder {
    color: #424242;
}

.bg-bottom {
    background-image: url(/wp-content/uploads/2020/03/a_7_bg.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.box-overlay.dark .box-text,
.box-shade.dark .box-text {
    text-shadow: unset;
}

.bg-bottom2 {
    margin-top: -10%;
    background-image: url(/wp-content/uploads/2020/03/a_1.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-post .is-divider,
.wpcf7-spinner {
    display: none;
}

.home-post.flickity-prev-next-button,
.slider-home .flickity-prev-next-button {
    width: 100px;
    height: 100px;
}

.back-to-top {
    bottom: 25%;
    font-size: 1.1em;
    background-image: linear-gradient(to right, #c68426, #f0ae1d);
    color: #fff !important;
    border: 0 !important;
    margin: 0 !important;
}

.nav>li>a {
    font-size: 1em;
}

#tien-ich {
    max-width: 100%;
}

.wp-video {
    max-width: 100%;
    width: 100% !important;
}

.box-blog-post .is-divider {
    display: none;
}

.leaf:after {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-image: url(/wp-content/uploads/2020/03/b_bg_2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 160px;
    width: 225px;
    height: 345px;
    content: '';
}

.leaf:before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-image: url(/wp-content/uploads/2020/03/b_bg_1.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 160px;
    width: 225px;
    height: 345px;
    content: '';
}

.chuongtrinh ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.chuongtrinh .content {
    position: relative;
    margin: 0 auto;
    background-image: url(/wp-content/uploads/2020/03/g_bg_2-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 10px;
    width: 100%;
    max-width: 960px;
}

.chuongtrinh .content:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border: 2px solid #b7883d;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
}

.chuongtrinh .title-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.chuongtrinh .main-title {
    position: relative;
    z-index: 3;
    margin-top: -40px;
    background-color: #fff;
    padding: 0 50px;
}

.chuongtrinh .noidung {
    position: relative;
    padding: 50px 180px;
}

.fix-slider2 .flickity-prev-next-button {
    width: 100px;
    height: 100px;
}

.fix-slider2 .flickity-prev-next-button {
    width: 100px;
    height: 100px;
}

.mfp-container {
    padding: 0;
}

.off-canvas-center .mfp-container {
    opacity: 1 !important;
    background-image: url(/wp-content/uploads/2021/06/background-menu.jpg);
    background-size: cover;
    background-color: #04090e;
}

.video-fit {
    padding-top: 0;
}

.lightbox-content {
    background: transparent;
}

.noibat .box-image {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    height: 85px;
    margin-bottom: 10px;
}

.noibat .box-image img {
    display: block;
    height: 100%;
    max-width: 80px;
    padding: 10px;
}

.noibat .box-text h4 {
    padding-bottom: 10px;
    letter-spacing: 0.5px;
}

.noibat .flickity-page-dots {
    bottom: -20px;
}

.noibat .box-text p {
    line-height: 20px;
    padding: 0px 5px;
    max-height: 300px;
    overflow: auto;
    text-align: justify;
}

.dark,
.dark p,
.dark td,
.absolute-footer.dark {
    color: #fff;
}

.noibat .box-text:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.13), #fff, rgba(255, 255, 255, 0.13));
    top: 0;
    left: 0;
}

#slider-home .flickity-prev-next-button {
    width: 100px;
}

#slider-home:after,
.slider-home:after {
    content: '';
    width: 100%;
    height: 150px;
    background-image: url(/wp-content/uploads/2021/06/cloud.png);
    background-position: left bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -15px;
    pointer-events: none;
    z-index: 10;
}

.big-title {
    background-image: url(/wp-content/themes/flatsome-child/images/background-title-5.webp);
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
}

.box-noidung {
    padding-top: 20px;
}

.big-title .col-inner {
    max-width: 1220px;
    margin: 0 auto !important;
    padding: 20px 0;
}

.fix-width h2 {
    color: white;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.8em;
}

.fix-width h4,
.nd-tienich h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(113.94deg, #f0e8c4 10.96%, #be8129 92.56%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: -webkit-max-content;
    width: max-content;
    font-size: 1.2em;
}

.fix-padding {
    padding-top: 0;
}

.fix-padding .box-noidung .col {
    padding-bottom: 0;
}

.ketnoi ul.list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.ketnoi .list li {
    -webkit-box-align: end;
    -ms-flex-align: end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: flex-end;
    margin-left: 0;
    margin-bottom: 20px;
}

.ketnoi .list li .time {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 110px;
    max-width: 110px;
}

.ketnoi .list li .time h3 {
    font-size: 40px;
    line-height: 1.1;
    margin-bottom: 0;
}

.ketnoi .list li .time p {
    margin-bottom: 0;
    font-weight: bold;
}

.ketnoi .list li .info {
    padding-left: 0px;
    margin-bottom: 0;
    font-weight: bold;
}

.fix-tienich .img .caption {
    padding: 20px 10px;
    color: #FFF;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.6s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.6s cubic-bezier(0.5, 0, 0, 1) 0s;
    font-size: 1.3em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
    pointer-events: none;
    background-color: unset;
}

.fix-tienich .box-text p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.fix-slider .slider-style-focus .flickity-slider>*:not(.is-selected) {
    opacity: 1;
}

.tienich .row {
    background-image: url(/wp-content/uploads/2021/06/v_2-background.png);
    background-repeat-y: repeat !important;
    background-position: center;
    background-size: contain;
    z-index: 11;
    background-color: #fff;
}

.tienich .nd-tienich .col-inner {
    padding: 100px 80px;
    background-color: #a5503f;
    margin-right: -10% !important;
    z-index: 10;
}

.tienich {
    background-image: url(/wp-content/uploads/2021/04/background-action.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.nd-tienich h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.8em;
}

.fix-phankhu .box-text {
    padding: 20px;
    background-color: #efefef;
}

.fix-tab .tab-panels {
    border-left: 0;
    padding: 0;
}

.fix-tab .nav.nav-vertical {
    background-image: url(/wp-content/themes/flatsome-child/images/background-duan1.webp);
    background-size: cover;
}

.fix-tab .nav-pills>li.active>a {
    background: #dba13d;
    border-radius: 0;
    color: #000d5a !important;
}

.fix-tab .nav>li>a:hover {
    color: #dba13d;
}

.fix-tab .nav>li>a {
    color: white;
}

.home-post .post-item .col-inner {
    background-color: #F6F7F9;
}

.home-post .post-item .col-inner:hover {
    background-color: #e9ebeb !important;
}

.home-post .fix-post-layout {
    max-width: 980px;
    margin: 0 auto;
}

.home-post .post-meta {
    padding: 10px 0;
    text-transform: uppercase;
}

.home-post .box-text h5 {
    letter-spacing: 1px;
    font-weight: 100;
}

.dang-ky .form-action {
    padding: 10px;
    background: linear-gradient(113.94deg, #f0e8c4 10.96%, #be8129 92.56%);
}

.form-action .col-inner {
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;
    background-image: url(/wp-content/uploads/2021/06/v_2-background.png);
    background-repeat: repeat !important;
    background-position: center;
    background-size: contain;
}

.form-action h4 {
    letter-spacing: 2px;
    color: #c68426;
}

.form-action h2 {
    letter-spacing: 1px;
    font-size: 2em;
}

.form-action ul {
    list-style: none;
}

.form-action ul li {
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-action ul li b,
.form-action ul li strong {
    color: #c68426;
    font-size: 1.2em;
}

.form-action input[type='tel'],
.form-action input[type='text'],
.form-action input[type='email'] {
    background-color: #fff;
    box-shadow: unset;
    border: 1px solid #1c3d2d;
    margin-bottom: 0px;
    color: #000;
}

.form-action input[type='tel']:focus,
.form-action input[type='text']:focus,
.form-action input[type='email']:focus {
    border-color: #c68426;
}

.form-action input[type=submit]:hover {
    background-color: #c68426 !important;
}

.form-action .col {
    padding: 0 15px 15px;
}

.form-action .col-inner {
    padding: 20px;
    background-color: #fff;
}

#video .video-button-wrapper a {
    margin: 0;
    background-image: linear-gradient(to right, #c68426, #f0ae1d);
    border: unset !important;
    color: white;
    font-size: 2.5em;
    line-height: 2.4em;
}

#video .video-button-wrapper a:hover {
    background-image: linear-gradient(to right, #f0ae1d, #c68426);
}

ol.note li {
    font-weight: bold;
}

ol.note {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#subbar {
    background-color: #fff;
    position: fixed;
    top: -150px;
    transition: top 0.3s;
    z-index: 999;
    border-bottom: 1px solid #d0d0d0;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    overflow-x: hidden;
}

#subbar a {
    display: inline-block;
    color: #1c3d2d;
    padding: 20px;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase;
}

#subbar a:hover,
#subbar a:active {
    color: #c68426
}

.header-main .nav>li>a {
    color: #000;
}

ul.list-tienich {
    list-style: none;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
}

ul.list-tienich li {
    list-style: none;
    margin-bottom: 8px;
    margin-left: 0px;
}

ul.list-tienich li:before {
    content: "";
}

ul.list-tienich .num {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    line-height: 28px;
    margin-right: 10px;
    display: inline-block;
    background: linear-gradient(45deg, rgb(199 186 20), rgb(214 158 0));
}

.small-content h5 {
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 43px;
    padding: 0px 50px;
    transition: all 0.3s;
}

.small-content {
    position: absolute;
    width: fit-content;
    bottom: 20%;
    right: 20px;
}

.small-content img {
    width: 300px;
    border: 5px solid #f0ae1d;
}

.bai-viet-lien-quan ul {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.bai-viet-lien-quan ul li {
    list-style: none;
    width: 50%;
    color: graytext;
    float: left;
    padding-left: 4px;
    padding-right: 5px;
}

.bai-viet-lien-quan ul li .box-image img {
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    object-position: center;
}

.bai-viet-lien-quan h4 {
    font-size: 16px;
    line-height: 19px;
    padding-top: 7px;
    overflow: hidden;
    height: 50px;
}

ul.list-cats {
    margin: 0 auto;
    text-align: center;
}

ul.list-cats li:first-child {
    margin-left: 0 !important;
}

ul.list-cats li {
    display: inline;
    text-transform: uppercase;
}

ul.list-cats li:after {
    content: "/";
    margin-left: 1.3em;
}

ul.list-cats li:last-child:after {
    content: '';
}

.timkiem {
    max-width: 900px;
    margin: 0 auto !important;
}

.search-form {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 1.5rem;
    display: flex;
    align-items: baseline;
    box-shadow: 0 7px 50px 0 rgb(38 50 56 / 10%);
    margin: 0 auto;
}

.search-form input {
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
}

.search-form input[type='text'],
search-form input[type='text']:focus {
    box-shadow: unset;
}

.fix-line:before {
    content: "";
    background: url(/wp-content/uploads/2021/06/line-2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
}

#info-da .desc {
    color: #666;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#info-da .number small {
    font-size: 1.125rem;
    font-weight: bold;
}

#info-da .number strong {
    font-size: 3rem;
}

#info-da .number {
    color: #be8129;
    text-transform: uppercase;
}

.footer-1 .section-bg-overlay {
    background-image: linear-gradient(to right, #0c3a34e8, #000000d1) !important;
}

.fix-tienich {
    padding: 0 1px;
}

.box-1 {
    background: linear-gradient(113.94deg, #f0e8c4 10.96%, #be8129 92.56%);
}

.box-1 {
    background-image: url(/wp-content/uploads/2021/06/Mask-Group-5.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 300% 50%;
    min-height: 350px;
}

.box-lydo {
    background-image: linear-gradient(60deg, #07524d 0%, #0b1e27 100%);
}

.box-1 .title {
    border-bottom: 2px solid #fff;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}

.box-1 .content {
    padding: 20px 10px;
    text-align: justify;
    font-size: 13px;
}

/* Custom CSS Tablet */
@media (max-width: 849px) {
    .off-canvas-right .mfp-content {
        width: 50%
    }

    .bottom-contact {
        display: block;
        position: fixed;
        bottom: 0;
        background: linear-gradient(45deg, #e8de8b 0%, #07414c 100%);
        width: 100%;
        z-index: 99;
    }

    .main-title {
        font-size: 30px;
    }

    #slider-home:after {
        height: 100px;
    }

    .big-title .col-inner {
        padding: 20px 15px;
    }

    .big-title {
        background-position: left;
    }

    .tienich .nd-tienich .col-inner {
        margin-right: 0 !important;
    }

    ol.note {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    #subbar {
        overflow-x: scroll;
    }

    .fone a {
        color: #fff;
    }

    .fix_tel {
        bottom: 5%;
    }

    .small-content h5 {
        font-size: 15px;
        padding: 0;
    }

    .small-content {
        width: 20%;
    }

    ul.list-tienich {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }

    .off-canvas-center .nav-sidebar.nav-vertical>li>a {
        color: #fff;
    }
}

/* Custom CSS Mobile */
@media (max-width: 549px) {
    .leaf:before {
        display: none;
    }

    .leaf:after {
        display: none;
    }

    .noibat .col {
        padding: 0 1px 19.6px !important;
    }

    #slider-home:after {
        height: 70px;
        bottom: -5px;
    }

    .ketnoi ul.list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .tienich .nd-tienich .col-inner {
        padding: 20px;
    }

    .form-action .col-inner {
        padding: 20px 0;
    }

    .noibat .col-inner {
        overflow: auto;
    }

    .tienich {
        padding: 40px 15px;
    }

    ol.note {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    ul.list-tienich {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .small-content {
        position: relative;
        width: 100%;
        bottom: 0;
        right: 0;
    }

    .fix-width h2 {
        font-size: 1.6em;
    }

    ul.list-tienich li {
        font-size: 13px;
    }

    .small-content img {
        width: fit-content;
    }

    .bai-viet-lien-quan ul li {
        width: 100%;
    }

    .contact-pic {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        border: 3px solid #fff
    }

    .contact-name {
        padding: 2px 10px;
        width: 80px;
        font-size: 10px
    }

    .contact-number {
        padding: 6px
    }

    .contact-number h5 {
        font-size: 11px;
        margin: 0
    }

    .contact-number h6 {
        font-size: 13px
    }

    .contant-no-area {
        width: 120px;
        left: 10px;
    }

    .arcontactus-widget .arcu-forms-container #arcu-form-email {
        width: 100%;
    }

    .arcontactus-widget .arcu-forms-container #arcu-form-callback {
        width: 100%;
    }
}

.label-new.menu-item>a:after {
    content: "New";
}

.label-hot.menu-item>a:after {
    content: "Hot";
}

.label-sale.menu-item>a:after {
    content: "Sale";
}

.label-popular.menu-item>a:after {
    content: "Popular";
}

.show {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
}

.popup-container {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    width: 0px;
    height: 0px;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.486);
}

#col-103553234 {}

.form-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none !important;
}

.row {
    width: 100vw;
}

.form-action ul {
    list-style-type: disc;
}

.modal-content {
    background-color: transparent !important;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, .2) !important;
    width: 600px !important;
}

.modal-dialog {
    /* width: 700px !important; */
}

.wpcf7-submit {
    color: #FFF;
    border: none;
    font-weight: 600;
}

.button-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}