/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #106eea;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 70px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0 400px;
}
#topbar .social-links a {
  color: #fff;
  padding: 5px 8px;
  margin: 5px 5px;
  background-color: #1c9145;
  border-radius: 5px;
}
#topbar .contact-info {
  background-color: #1c9145;
  padding: 0 25px;
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px;
  margin: 6px;
  font-weight: bold;
  font-size: 15px;
}
#topbar .contact-info i {
  padding-right: 10px;
  font-size: 20px;
}
#topbar .contact-info:hover {
  background-color: #f8ab1a;
}
#topbar img {
  width: 220px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 90px;
  z-index: 997;
  transition: all 0.5s;
  background: linear-gradient(to right, #1c55a4 0%, #2660b0 40%, #1c55a4 100%);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled {
  height: 60px;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #header {
    height: 60px;
  }
  #header .logo h1 {
    font-size: 28px;
  }
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  height: 100%;
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  height: 40px;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #ffc107;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #106eea;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #106eea;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #106eea;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 85vh;
  background: url("../img/banner.jpg") top center;
  background-size: cover;
  position: relative;
}
#hero:before {
  content: "";
  background: rgba(60, 65, 51, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}
#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #94c045;
  text-transform: uppercase;
  color: #fff;
}
#hero .btn-get-started:hover {
  background: #94c045;
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-container {
    padding: 0 15px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  position: relative;
  height: 150vh;
}
#about .title-img {
  font-size: 16px;
  color: #2980b9;
}
.about .container {
  width: 46%;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
  background: #fff;
  position: absolute;
  top: -40px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  #about {
    height: 250vh;
  }
  .about .container {
    width: 100%;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-container {
    padding: 0 15px;
  }
}
@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
.container {
  margin: auto;
  overflow: hidden;
}

@media (max-width: 767px) {
  .section-header p {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Overview General
--------------------------------------------------------------*/
#overview {
  padding: 70px 0 100px 0;
  background-color: #f1f2f6;
}
#overview .overview-promotion {
  padding: 35px 90px;
  border-style: dashed;
  border-color: #1d55a4;
  margin: 60px 0;
}

.overview-promotion h2 {
  color: red;
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
  text-transform: uppercase;
}
.overview-promotion .title {
  font-size: 25px;
  padding: 0 20px;
}
.overview-promotion .title b {
  color: #1c9145;
}
.section-header h3 {
  font-size: 32px;
  color: #1d55a4;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
}
.section-header img {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 30px;
  color: #556877;
}
.introdution-content .elementor-widget-container1 {
  height: 60vh;
}
.introdution-content .elementor-widget-container1 img {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
#overview table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#overview thead {
  background-color: #1c9145;
  color: #fff;
}

/*--------------------------------------------------------------
# Address General
--------------------------------------------------------------*/

#address {
  padding: 70px 0 10px 0;
  background-color: #f1f2f6;
}

#address table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#address thead {
  background-color: #1c9145;
  color: #fff;
}

/*--------------------------------------------------------------
# Utilities General
--------------------------------------------------------------*/

#utilities {
  background-color: #f1f2f6;
}
#utilities .utilities-promotion {
  padding: 35px 90px;
  border-style: dashed;
  border-color: #1d55a4;
  margin: 60px 0;
}
.utilities-promotion h2 {
  color: red;
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px;
  text-transform: uppercase;
}
.utilities-promotion .title {
  font-size: 25px;
  padding: 0 20px;
}
.utilities-promotion .title b {
  color: #1c9145;
}

/*--------------------------------------------------------------
# Ground General
--------------------------------------------------------------*/
#ground {
  background-color: #f1f2f6;
}

/*--------------------------------------------------------------
# Design General
--------------------------------------------------------------*/
#design {
  background-color: #f1f2f6;
}
#design .noval {
  color: red;
  font-size: 20px;
}
#design img {
  background-repeat: no-repeat;
  background-size: cover;
}
/*--------------------------------------------------------------
# Model house General
--------------------------------------------------------------*/
#house {
  background-color: #f1f2f6;
}

/*--------------------------------------------------------------
# Progress General
--------------------------------------------------------------*/
#progress {
  background-color: #f1f2f6;
}
#progress .about-container .background {
  margin: 20px 0;
}

#progress .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}
#progress .about-container p {
  line-height: 26px;
}
#progress .about-container p:last-child {
  margin-bottom: 0;
}

#progress .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}
#progress .about-container .icon-box .title a {
  color: #283d50;
}
#progress .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}
#progress .about-extra {
  padding-top: 60px;
}
#progress .title-img {
  color: #3284f1;
  font-size: 15px;
}
#progress .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/*--------------------------------------------------------------
# Price list General
--------------------------------------------------------------*/
#price {
  background-color: #f1f2f6;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #00428a;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}
#footer .footer-top {
  background: #004a99;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}
#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #007bff;
  color: #fff;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a i {
  line-height: 0;
}
#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}
#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}
#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact p {
  line-height: 26px;
}
#footer .footer-top .footer-newsletter {
  margin-bottom: 10px;
}
#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}
#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
}
#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}
#footer .credits a {
  color: #bfddfe;
}
#footer .credits a:hover {
  color: #f1f7ff;
}

#advertised {
  width: 100%;
  height: 25vh;
  background-color: transparent;
  background-image: linear-gradient(70deg, #051731 0%, #054196 100%);
}
#advertised .title h2 {
  background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#advertised .btn-contact {
  margin: 30px 0;
  width: 400px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #333;
  background: #4fd1c5;
  background: -webkit-linear-gradient(top, #8f6b29, #fde08d, #df9f28);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgb(253 224 141 / 64%);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  z-index: 10;
}
